#footer {
  background-color: #313c53;
  color:white;
  font-size: small;
}

#footerlinks {
  color:white;
  text-decoration: none;
}

#footerlinks:hover {
  color:#0dcaf0;
  text-decoration: none;
}

#uppernavbar {

  background-color: #313c53;
  height: 25px;
  color: white;
}

#uppernavbartext {
  color: white;
  font-size: small;
}

#uppernavbartext:hover {
  color: #0dcaf0;
  font-weight: bold;
}

#mainnavbar {
  background-color: #313c53;
  color:white;
}

#mainnavbartext {
  color: white;
  font-weight: bolder;
}

#mainnavbartext:hover {
  color: #0dcaf0;
  font-weight: bolder;
}

ion-icon {
  font-size: 64px;
  color: white;
  pointer-events:none;
}

icon-icon:hover{
  color:#0dcaf0;
}

#socialmediaicon {
  font-size: 32px;
  color: white;
  pointer-events:none;
}

#mainbodycontent {

  background-color: #e2e8f0;

}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
  
.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}
  
.card-signin .card-body {
  padding: 2rem;
}
  
.form-signin {
  width: 100%;
}
  
.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
  text-align: center;
}
  
.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}
  
.form-label-group input {
  height: auto;
}
  
.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}
  
.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}
  
.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}
  
.form-label-group input:-ms-input-placeholder {
  color: transparent;
}
  
.form-label-group input::-ms-input-placeholder {
  color: transparent;
}
  
.form-label-group input::-moz-placeholder {
  color: transparent;
}
  
.form-label-group input::placeholder {
  color: transparent;
}
  
.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}
  
.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

body{
  margin-top:0px;
  color: #1a202c;
  text-align: left;
  background-color: #e2e8f0;    
}

.main-body {
  padding: 15px;
}

.card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}
.h-100 {
  height: 100%!important;
}
.shadow-none {
  box-shadow: none!important;
}

.has-success {
  background:green;
}
.has-error {
  background:red;
}